@model CourseProject.Models.GradeListViewModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@if (Session["currentUser"] != null) {
    if (Session["role"] != null) {
        string role = (string)Session["role"];
        if (role != "SchoolKid" && role != "Parent") { 
            <form method="get" action="/Home/SchoolKidPage/">
                <div class="form-inline">
                    <label class="control-label">Ученик: </label>
                    @Html.DropDownList("SchoolKid", Model.SchoolKids as SelectList,
                            htmlAttributes: new { @class = "form-control" })

                    <input type="submit" value="Фильтр" class="btn btn-default" />
                </div>
            </form>
        }
    }
}
<br />
<table class="table">
    <tr>
        <th>
            <label>SchoolKid name:</label>
        </th>
        <th>
            <label>Subject:</label>
        </th>
        <th>
            <label>Value:</label>
        </th>
        <th>
            <label>Date:</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Grades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolKid.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

